<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Madgento_EstPay::keychain" title="Keychain" translate="title" module="Madgento_EstPay" sortOrder="100" parent="Magento_Backend::system" resource="Madgento_EstPay::keychain"/>
        <add id="Madgento_EstPay::keychain_keys" title="Keys" translate="title" module="Madgento_EstPay" sortOrder="10" parent="Madgento_EstPay::keychain" action="estpay/keys" resource="Madgento_EstPay::keychain"/>
    </menu>
</config>
